body{
  background-color: #ffffff;
}
.navbar {
  background-color: #FF5A60;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-brand {
  margin-left: 15px;
  color: rgba(255, 255, 255, 0.918);
  margin-right: 2rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.navbar-brand:hover {
  color: white;
}

.navbar-toggler {
  color: rgba(255, 255, 255, 0.171);
}



/* .nav-link {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.922);
  min-width: 88px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 2px;
  text-align: center;
}

.nav-link:hover {
  background: #FFB6B9;
  box-sizing: border-box;
  position: relative;
  color: #f4f4f4;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  outline: 0;
  border: none;
}

.nav-link:visited {
  color: white;
} */

.nav-link{
  position: relative;
  color:#f9fbff; 
  text-decoration: none;
  padding:2% 2% 2% 2%;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.2rem;
  padding-left: 1.2rem;
}

.nav-link:after{
  content:"";
  position:absolute;
  color: white;
  background-color:#FFF3F4 ;
  height:3px;
  width:0;
  left:0;
  bottom:-2px;
  transition:0.5s;
}

.nav-link:hover::after{
  left:3px;
  right:3px;
  box-sizing: content-box;
  color: white;
  width:100%;
}

.nav-link:visited{
  color:white;
} 

.d-flex {
  margin-left: 100px;
}

.btn {
  margin-left: 10px;
}
#next,#prev{
  z-index: 1;
}

#next1,#prev1{
  z-index: 1;
}

#next2,#prev2{
  z-index: 1;
}


.host {
  background-color: #3add7b;
  color: white;
  outline: none;
}

.exp {
  background-color: #d83add;
  color: white;
  outline: none;
  margin-top: 25px;
  margin-left: -2px;
  height: 50px;
  width: 450px;
}

.host:hover,
.exp:hover {
  background-color: #b7ec4d;
  color: white;
}

.par {
  border-color: #f3f180;
  color: #f887b6;
}

.reg {
  border-color: #234420;
  color: #53b2af;
  margin-top: 15px;
  margin-left: -2px;
  height: 50px;
  width: 450px;
}

.par:hover,
.reg:hover {
  color: white;
  border-color: white;
}

.guide {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-top: 25px;
  color: white;
  margin-left: 25px;
  text-align: center;
}

.accordion {
  margin-top: 30px;

}

.accordion-item {
  margin-bottom: 20px;
  border-radius: 10px;
}

.odd {
  background-color: #081779;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  border-radius: 10px;
}

.even {
  background-color: #c4e7f8;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  border-radius: 10px;
}

body {
  font-family: Inter;
}
.button-head{
  display: flex;
  background-color: #ffffff;
}
.card {
  width: 300px;
  min-width: 300px;
  height: auto;
  background: #fff;
  border-radius: 30px;
  position: relative;
  z-index: 10;
  margin: 25px;
  min-height: 356px;
  cursor: pointer;
  transition: all .25s ease;
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.08);
}

.card:hover {
  transform: translate(0, -10px);
  box-shadow: 0px 17px 35px 0px rgba(255, 255, 255, 0.07);
}

.card h4 {
  position: absolute;
  left: 0;
  top: 0;
  padding: 15px;
}

.card i {
  position: absolute;
 
  padding: 15px;
  font-size: 1.4rem;
  line-height: 3.2rem;
}

.card .card-text {
  padding: 20px;
}

p {
  font-size: .8rem;
  opacity: .6;
  margin-top: 10px;
}

.card .card-img {
  /* transform: translate(90px,-10px); */
  margin: -2px -1px;
  width:300px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .35s ease-out;
}

.card img {
  height: 180px;
  width: 100%;
  border-radius: 30px 30px 0px 0px;
  height: 200px;
}

.card img.blur {
  position: absolute;
  filter: blur(15px);
  z-index: -1;
  opacity: .40;
  transform: translate(-160px, 30px);
  transition: all .35s ease-out;
}

/* .card:hover .card-img {
    /* transform:translate(70px,-15px); 
  } */

.card:hover .card-img img.blur {
  transform: translate(-100px, 35px) scale(.85);
  opacity: .25;
  filter: blur(20px);
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow: auto;

  padding-left: 17px;
  padding-right: 50px;
  scroll-behavior: smooth;
}

.card-content::-webkit-scrollbar {
  height: 0px;
}

.card-content:after {
  content: '';
  display: block;
  min-width: 20px;
  height: 100px;
  position: relative;
}

.card-content2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow: auto;

  padding-left: 17px;
  padding-right: 50px;
  scroll-behavior: smooth;
}

.card-content2::-webkit-scrollbar {
  height: 0px;
}

.card-content2:after {
  content: '';
  display: block;
  min-width: 20px;
  height: 100px;
  position: relative;
}

.card-content1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow: auto;

  padding-left: 17px;
  padding-right: 50px;
  scroll-behavior: smooth;
}

.card-content1::-webkit-scrollbar {
  height: 0px;
}

.card-content1:after {
  content: '';
  display: block;
  min-width: 20px;
  height: 100px;
  position: relative;
}


.btn {
  min-width: 60px;
  margin: auto 30px;
  height: 60px;
  border-radius: 20px;
  background: #FFF3F4;
  
  border: 0px;
  outline: none;
  cursor: pointer;
  z-index: 9999;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .08);
  transition: all .25s ease;
}

.btn:hover {
  box-shadow: 0px 17px 35px 0px rgba(0, 0, 0, .07);
}

.btn i {
  font-size: 1.2rem;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  width: 100%;
  height: 70vh;
  margin-bottom: 40px;
  overflow: hidden;
}

.sliderhead{
  margin-top: 180px;
  margin-left:165px ;
  margin-bottom: -50px;
}
.sliderhead1{
  margin-top: 20px;
  margin-left: 165px;
  margin-bottom: -50px;
}

.slider:after {
  content: '';
  left: 98px;
  height: 90vh;
  position: absolute;
  width: 150px;
  z-index: 100;
  /* background: linear-gradient(90deg, #484552 0%, rgba(242, 243, 248, 0) 100%); */
  pointer-events: none;
}

.slider:before {
  content: '';
  right: 98px;
  height: 90vh;
  position: absolute;
  width: 150px;
  z-index: 100;
  background: linear-gradient(90deg, #484552 0%, rgba(242, 243, 248, ) 100%);
  pointer-events: none;
}

.prof_img {
  width: 40px;
}


.filter {
  margin: 1%;
  padding: 0% 1% 0% 1%;
  background-color: #FFB6B9; 
  color: black;
  border-radius: 100px;
  border: none;
  height: 31px;
  font-size: 14px;
}

.filter:hover {
  background-color: #FF5A60;
  /* opacity: 16%; */
  color: white;
  border: none;
}

.filter:hover::after {
  background-color: #FF5A60;
  color: white;
  border: none;
}

.rounded-circle {
  height: 32px;
  width: 32px;
}

/*  <div class="col text-center">
                    <form action="" class="input-group">
                        <input type="text" class="form-control" id="city-search" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" placeholder="Search for a recipe"
                            autocomplete="off" />
                        <button class="button">
                            <img src="src/imgs/search.png" width="30px" />
                        </button>
                    </form>
                </div>*/



.button {
 
  margin-left: 10px !important;
  background: none !important;
  border: 0px !important;
} 

.btns
{
  margin: 1%;
padding-left: 0.4rem;
padding-right: 0.4rem;
  background-color: #FFB6B9;
  color: black;
  border-radius: 100px;
  border: none;
  height: 31px;
  font-size: 13px;
  margin-top: 2rem;
}

.btns a{
  text-decoration: none;
  color: white;
}

.btns:hover
{
  /* background-color: #5b6af0; */
  background-color: #FF5A60;
  color:white;
  border:none;
}
.no-more
{
  padding:0px 5px 1px 164px;
  margin: 1%;
}

h6
{
  margin-bottom: 0.29rem;
  margin-right: 2rem;
}

/* filters.css */

/* end of filters */