 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  direction: ltr;
  font-family: "Poppins", sans-serif;
  background: white;
  color: #444;
  display: grid;
  /* place-items: center; */
  height: 100vh;
}

.navbar {
  background-color: #FF5A60;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  height: 70px;
}

.navbar-brand {
  margin-left: 15px;
  color: rgba(255, 255, 255, 0.918);
  margin-right: 2rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.navbar-brand:hover {
  color: white;
}

.navbar-toggler {
  color: rgba(255, 255, 255, 0.171);
}


.nav-link{
  position: relative;
  color:#f9fbff; 
  text-decoration: none;
  padding:2% 2% 2% 2%;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.2rem;
  padding-left: 1.2rem;
}

.nav-link:after{
  content:"";
  position:absolute;
  color: white;
  background-color:#FFF3F4 ;
  height:3px;
  width:0;
  left:0;
  bottom:-2px;
  transition:0.5s;
}

.nav-link:hover::after{
  left:3px;
  right:3px;
  box-sizing: content-box;
  color: white;
  width:100%;
}

.nav-link:visited{
  color:white;
} 

.prof_img {
  width: 40px;
}

.accordion-content {
  width:70rem;
  margin: 0 auto;
  padding: 2rem;
  background: white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
  border-radius: 8px;
}
.accordion-item {
  display: flex;
  width:70rem;
  flex-direction: column;
  padding: 0 1rem;
  border-radius: 5px;
  border: 1px solid #FF5A60;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
  cursor: pointer;
  background: white;
  margin-bottom: 0.5em;
  margin-left: 13%;
}
.item-header {
  display: flex;
  justify-content: space-between;
  column-gap: 0.2em;
}

.item-icon {
  margin-top: 1rem;
  flex: 0 0 25px;
  display: grid;
  place-items: center;
  font-size: 1.25rem;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  background: #FF5A60;
  cursor: pointer;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
}
.item-icon i {
  transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}
.item-question {
  font-size: 1em;
  line-height: 1;
  font-weight: 500;
}

.active .item-icon i {
  transform: rotate(180deg);
}

.active .item-question {
  font-weight: 500;
}

.item-content {
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease;
}

.item-answer {
  line-height: 150%;
  opacity: 0.8;
} 


